.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding-top: 30px;
  font-size: 20px;
}

@media screen and (max-width: #{map-get($breakpoints, medium)}) {
  .footer__container {
    font-size: 16px;
    margin: 30px;
  }
}
