.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 5rem;
  margin-bottom: 100px;
}

.header__button {
  button {
    border: none;
    background-color: $background-color;
    cursor: pointer;
    .sun__icone {
      display: flex;
      padding: 2px 2px;
      color: $text-color;
    }
  }
}

.no-link-style {
  text-decoration: none;
  color: inherit;
}
