.slide {
  display: flex;
  position: relative;
  width: 100%;
  height: 450px;
  margin: 2% 0;
  overflow: hidden;
  @media screen and (max-width: 1200px) {
    height: 400px;
  }
  @media screen and (max-width: 800px) {
    height: 300px;
  }
  @media screen and (max-width: 500px) {
    height: 200px;
  }
}
.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border-radius: 10px;
  opacity: 0;
  transition: opacity ease-in-out 0.6s;
  & img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    left: 0%;
    right: 0%;
    top: -3%;
    bottom: 0%;
    mix-blend-mode: normal;
    border-radius: 10px;
  }
  &__number {
    display: block;
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    left: 48%;
    top: 96.5%;
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}
.active {
  opacity: 1;
}

.right-Arrow {
  display: flex;
  position: absolute;
  font-size: 1.5rem;
  top: 42%;
  right: 2%;
  width: 12px;
  height: 20px;
  z-index: 10;
  cursor: pointer;
  color: $background-solid;
  &:active {
    color: $border-color-hover;
  }
  @media screen and (max-width: 1200px) {
    width: 10px;
    top: 46%;
  }
}

.left-Arrow {
  display: flex;
  position: absolute;
  font-size: 1.5rem;
  top: 42%;
  left: 2%;
  height: 20px;
  width: 12px;
  z-index: 10;
  cursor: pointer;
  color: $background-solid;
  &:active {
    color: $border-color-hover;
  }
  @media screen and (max-width: 1200px) {
    width: 10px;
    top: 46%;
  }
}



