@use "../annexes/variables" as vars;
@use 'sass:map';


.fiche__projet {
  border-left: 2px solid vars.$border-color;
  border-right: 2px solid vars.$border-color;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fiche__content {
  padding: 0 40px 40px 40px;
  width: 100%;

  @media screen and (max-width: #{map.get(vars.$breakpoints, large)}) {
    padding: 0 30px 30px 30px;
    width: 60%;
  }

  @media screen and (max-width: #{map.get(vars.$breakpoints, medium)}) {
    padding: 0 20px 20px 20px;
    width: 70%;
  }

  @media screen and (max-width: #{map.get(vars.$breakpoints, small)}) {
    padding: 0 10px 10px 10px;
    width: 80%;
  }
}

.fiche__aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 30%;

  @media screen and (max-width: #{map.get(vars.$breakpoints, medium)}) {
    gap: 10px;
  }

  @media screen and (max-width: #{map.get(vars.$breakpoints, small)}) {
    gap: 5px;
    align-items: flex-start;
    margin-left: 20px;
  }
}

.fiche__technique {
  display: flex;
  gap: 10px;
}

.social__icone {
  color: vars.$text-color;
}
