@use "../annexes/variables" as vars;
@use 'sass:map';

.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem 0.5rem;
  width: 100%;
  position: relative; /* Nécessaire pour positionner le ::before correctement */
  
  background: url('src/images/back-sun.webp') no-repeat center center/cover;
  
}

.hero__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); /* Réduction de l'opacité (40%) */
}

.hero__content {
  width: 50%;
  padding-right: 2rem;
  animation: fadeIn 0.8s ease-in-out;
  position: relative; /* Positionner le contenu au-dessus de la superposition */
  
  /* Modification de la couleur du texte et ajout d'ombre pour améliorer la lisibilité */
  color: white; /* Texte en blanc pour un bon contraste */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre pour améliorer la visibilité */
}

.hero__content, ul{
  list-style: none;
}

.hero__image {
  width: 40%;
  display: flex;
  justify-content: center;
  z-index: 1;

  img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid vars.$primary-color;
    transition: transform 0.25s ease-in-out;
  }

  img:hover {
    transform: scale(1.05);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

div.social-container {
  background-color: white;       /* Fond blanc */
  border-radius: 15px;           /* Bords arrondis */
  padding: 20px;                 /* Espacement autour du contenu */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour donner du relief */
  display: inline-block;         /* Afficher en bloc en ligne pour ne pas prendre toute la largeur */
}


@media screen and (max-width: 900px) {
  .hero__container {
    flex-direction: column;
    text-align: center;
    padding: 3rem 2rem;
  }

  .hero__content {
    width: 100%;
    padding: 0;
  }

  .hero__image {
    width: 100%;
    margin-top: 2rem;

    img {
      width: 160px;
      height: 160px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
