@use "../annexes/variables" as vars;

.skill__card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.s-card {
  width: 100%;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid vars.$border-color;
  border-radius: 20px;
  background-color: vars.$background-color-secondary;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  .skill__icone {
    object-fit: contain;
    color: vars.$text-color;
  }
}

.s-card__content {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 1.2rem;
    color: vars.$primary-color;
  }

  p {
    font-size: 1rem;
    color: vars.$text-color-secondary;
  }
}

.black {
  color: white;
}

.dark .black {
  color: black;
}

@media screen and (max-width: #{map-get(vars.$breakpoints, medium)}) {
  .skill__card {
    gap: 10px;
    padding: 10px;
  }

  .s-card {
    a {
      .skill__icone {
        width: 50px;
      }
    }
  }

  .s-card__content {
    h3 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}
