@use "../annexes/variables" as vars;
@use 'sass:map';


.skills__box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(135deg, vars.$background-color, vars.$background-solid);
  border: 1px solid vars.$border-color;
  border-radius: 15px;
  width: 50%;
  height: 450px;

  h2 {
    padding: 10px 30px;
  }
}

@media screen and (max-width: #{map.get(vars.$breakpoints, medium)}) {
  .skills__box {
    width: 100%;
    height: 400px;
  }
}
