// Importation des modules nécessaires
@use "./annexes/variables" as vars;
@use "./layout/base";
@use "./layout/header";
@use "./layout/footer";
@use "./components/home";
@use "./components/hero";
@use "./components/social";
@use "./components/works";
@use "./components/skills";
@use "./components/workcard";
@use "./components/skillcard";
@use "./components/contact";
@use "./components/carrousel";
@use "./components/ficheprojet";
@use "./components/error";

// Définir la police personnalisée
@font-face {
  font-family: 'MyFont';
  src: url('path/to/font.woff2') format('woff2');
  font-display: swap;
}

// Styles globaux
html {
  scroll-behavior: smooth;
}

// Appliquer un fond sombre au body lorsque la classe 'dark' est présente
body.dark {
  background-color: #121212; 
  color: #f5f5f5; 
}

body.dark .header {
  background-color: vars.$background-dark;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
}

body.dark .header__button button {
  color: vars.$text-color-light;
}

body.dark .header__nav .nav__list li a {
  color: vars.$text-color-light;
}

// Éléments généraux en mode sombre
body.dark .content {
  background-color: #1e1e1e; 
}

body.dark .footer {
  background-color: #2a2a2a; 
}

// Appliquer l'image de fond dans le body
body {
  background-image: url('src/images/back-image.webp');
  background-size: cover;  // L'image couvrira tout l'écran
  background-position: center;  // Centrer l'image
  background-attachment: fixed;  // L'image restera fixe lors du défilement de la page
  background-repeat: no-repeat;  // Empêcher la répétition de l'image
}

